<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
    </head>
    <body>
        <h1>LIRC API</h1>
        <p>To get a list of defined remotes go to:<br/>
        <script type="text/javascript">document.write(location.href);</script>remotes/

        <p>To get a list of all keys for that remote go to:<br/>
        <script type="text/javascript">document.write(location.href);</script>remotes/&#60remote-name&#62

        <p>To 'press' one of those keys go to:<br/>
        <script type="text/javascript">document.write(location.href);</script>remotes/&#60remote-name&#62/keys/&#60key-name&#62
    </body>
</html>
